.activity-main {
  width: 100vw;
  height: calc(100% - 60px);
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 0;
}

@media screen and (min-width: 800px) {
  .activity-main {
    width: calc(100% - 240px);
    height: calc(100% - 75px);
    padding: 2em;
  }
}

/* ===============================================TODO========================================= */

.todo-main {
  width: 100%;
  height: 100%;
  padding: 1em;
}

.todo-table-container {
  background-color: green;
  overflow: scroll;
}

.todo-table {
  font-size: smaller;
  width: 100%;
  background-color: #d9d9d9;
  border: none;
  outline: none;
}

.todo-th {
  min-width: 150px;
  max-width: 250px;
  position: sticky;
  top: 0;
  padding: 0.5em 0.5em;
  font-weight: 300;
  color: white;
  background-color: var(--blue);
  border: none;
  outline: none;
  white-space: nowrap;
  overflow: scroll;
}

.todo-task {
  min-width: 390px;
}

.todo-table input {
  width: 80%;
  outline: none;
  border: none;
  color: blue;
  text-align: center;
}

/* .todo-add {
    position: sticky;
    top: 0;
    font-weight: 400;
    color: #8a8a8a;
    border: none;
    outline: none;
    text-align: center;
    vertical-align: middle;
    transform: rotate(-90deg);
    transform-origin: center;
    white-space: nowrap;
    cursor: pointer;
    padding: 0.5em;
} */
.todo-title {
  display: flex;
  font-size: large;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 0;
}

.todo-add-column {
  padding: 0.7em 1.7em;
  background-color: var(--blue);
  font-size: small;
  display: grid;
  place-items: center;
  border-radius: 30px;
  cursor: pointer;
  color: white;
}

.todo-td {
  max-width: 250px;
  text-align: center;
  padding: 0.5em 0.5em;
  background-color: white;
  border: none;
  outline: none;
  white-space: nowrap;
  overflow: scroll;
}

.todo-edit {
  /* max-width: 75px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  gap: 0.7em;
  border: none;
  outline: none;
  position: sticky;
  right: 0;
  box-shadow: -4px 0 8px -2px rgba(0, 0, 0, 0.297);
}

.todo-edit p {
  cursor: pointer;
  border: none;
  outline: none;
}

.todo-addtask td {
  /* text-align: center; */
  padding: 0.5em;
  border: none;
  outline: none;
  color: #7d7d7d;
}

.todo-addtask td {
  text-align: start !important;
  padding-left: 35vw;
}

.checked-task {
  text-decoration: line-through;
  color: gray;
}

.todo-checkbox {
  text-align: center;
  width: auto;
  padding: 0 1em;
  min-width: 60px;
  max-width: 100px;
}

@media screen and (max-width: 800px) {
  .todo-edit {
    max-width: 75px;
  }

  .todo-edit-th {
    width: 75px;
    max-width: none;
    min-width: 50px;
    text-align: center;
  }

  .todo-checkbox {
    width: 10px !important;
    min-width: none;
    padding: 0 0.3em;
  }
}

/* -----------------------------------Notes------------------------- */
.notes-main {
  width: 100%;
  height: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  position: relative;
  /* background-color: rgb(255, 123, 8); */
}

.notes-container {
  padding: 1em 0;
  /* background-color: red; */
  flex-grow: 1;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: relative;
}

.notes-add-column {
  padding: 0.7em 1.7em;
  background-color: var(--blue);
  font-size: small;
  display: grid;
  place-items: center;
  border-radius: 30px;
  cursor: pointer;
  color: white;
  margin-left: auto;
  margin-right: 0.7em;
}

.notes-add-excel {
  width: 2.1em;
  aspect-ratio: 1;
  cursor: pointer;
  border-radius: 30px;
  display: grid;
  place-items: center;
  background-color: var(--blue);
  color: #ffffff;
}

.notes-card {
  width: 100%;
  padding: 1em;
  background-color: #ededed;
  border-radius: 10px;
}

.notes-head {
  font-size: medium;
  font-weight: 500;
  padding-bottom: 0.5em;
  text-wrap: wrap;
}

.notes-desc {
  font-size: smaller;
  color: #696969;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.notes-btn {
  margin-top: 0.7em;
  padding: 0.6em 1em;
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: smaller;
  opacity: 0.8;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.notes-view-page {
  width: 100%;
  height: 100%;
  padding: 1em;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.notes-view-head {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.notes-save {
  padding: 0.5em 1.5em;
  background-color: var(--blue);
  color: white;
  border-radius: 40px;
  margin-left: auto;
}

.notes-close {
  padding: 0.5em 1em;
  background-color: rgb(225, 28, 28);
  color: white;
  border-radius: 40px;
}

.notes-view-name-in {
  width: 100%;
  padding: 0.3em 0;
  font-size: x-large;
  font-weight: 500;
  color: #6d6d6d;
  outline: none;
  border: none;
  background-color: transparent;
}

.notes-view-desc-in {
  width: 100%;
  flex-grow: 1;
  padding: 0.5em;
  margin-top: 0.5em;
  font-size: medium;
  color: #000000;
  outline: none;
  border: none;
  overflow: scroll;
}

.notes-link-card {
  display: flex;
  align-items: center;
  background-color: #ededed;
  padding: 1em;
  border-radius: 7px;
  gap: 0.7em;
}

.notes-link {
  flex-grow: 1;
  display: flex;
  gap: 0.5em;
}

/* .notes-link-card:hover {
    background-color: #cccccc;
}

.notes-card:hover {
    background-color: #cccccc;
} */
.notes-link-head {
  flex-grow: 1;
}

.notes-link-icon {
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2em;
  cursor: pointer;
}

.notes-link-icon:last-child {
  margin-left: auto;
}

.notes-link-add-con {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0000007d;
  z-index: 222;
  display: grid;
  place-items: center;
}

.link-btns {
  width: 90%;
  display: flex;
  gap: 0.5em;
}

.link-btns :first-child {
  background-color: #a3a3a3;
}

.notes-link-add {
  width: 80%;
  padding: 2em 1em;
  /* padding-bottom: 3em; */
  background-color: #ffffff;
  margin-bottom: 10em;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}

.notes-link-head-in {
  font-size: larger;
  width: 90%;
  outline: none;
  border: none;
}

.notes-link-link-in {
  font-size: medium;
  width: 90%;
  padding: 0.3em;
  outline: none;
  border: none;
  border-bottom: 1px solid red;
}

.link-save {
  width: 90%;
  border-radius: 7px;
  text-align: center;
  margin: none;
  padding: 0.5em 0;
  color: white;
  background-color: var(--blue);
}

@media screen and (min-width: 800px) {
  .notes-link-add-con {
    width: 100%;
    height: 100%;
    padding: 1em;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1000;
    display: grid;
    place-items: center;
  }

  .notes-link-add {
    width: 30%;
    margin-bottom: 0;
    background-color: #dbdbdb;

    input {
      background-color: transparent;
    }
  }
}

/* ========================================================Funds================================================= */

.funds-main {
  width: 100%;
  height: 100%;
  padding: 1em;
}

.funds-nav {
  display: flex;
  gap: 0.7em;
  font-weight: 600;
  font-size: medium;
  color: #b5b5b5;
  white-space: wrap;
}

.funds-nav-items {
  cursor: pointer;
}

.funds-card {
  width: 100%;
  padding: 1em;
  background-color: #ededed;
  border-radius: 10px;
}
.highlight {
  color: #000;
}
@media screen and (min-width: 800px) {
  .funds-nav {
    display: flex;
    gap: 0.7em;
    font-weight: 600;
    font-size: 1.5rem;
    color: #acacac;
  }
}

/* ----------------------------------------inward------------------------------- */
.inward-main {
  width: calc(100vw - 240px);
  height: calc(100vh - 60px);
  padding: 1em;
  overflow-y: scroll;
  .tablecon{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* align-items: center; */
    margin-top: 1.5em;
    /* background-color: #000; */
  }
}


@media (max-width: 800px) {
  .inward-main {
    width: 100vw;
    overflow-y: scroll;
    /* background-color: #000; */
    .tablecon{
      display: flex;
      gap: 1em;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      margin-top: 1.5em;
      overflow: scroll;
      /* background-color: #000; */
    }
  }
}
/* -----------------------AddInward---------------- */
.addinward-container {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.39);
  backdrop-filter: blur(11.4px);
  -webkit-backdrop-filter: blur(11.4px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  .addinward-popup-inner {
    width: 60%;
    height: 70%;
    background-color: white;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    padding: 2em;
    border-radius: 30px;
    .addinward-card {
      width: 100%;
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      header {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* background-color: #000000; */
        .addinward-header-top {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .addinward-cross {
            p {
              color: white;
              background-color: red;
              width: 30px;
              height: 30px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              font-size: 2.5em;
            }
          }
        }
        .addinward-header-bottom {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 1em;
        }
      }
    }
    .scroll {
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      .addinward-selection {
        width: 100%;
        height: auto;
        /* background-color: #000000; */
        display: flex;
        flex-wrap: wrap;
        gap: 1.5em;
        padding: 1em;
        /* overflow-y: scroll; */
        /* margin-top: 0.5em; */
        .addinward-vendor-details {
          width: 300px;

          height: auto;
          border-radius: 20px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          padding: 2em;
          /* background-color: aqua; */
          cursor: pointer;

          .show {
            height: 35px;
            padding-left: 1em;
            border-radius: 5px;
            outline: none;
            border: none;
            background-color: #d9d9d9;
            color: grey;
            display: flex;
            align-items: center;
            margin-bottom: 1em;
          }
          .show:last-child {
            margin-bottom: 0;
          }
        }
      }
      .addinward-table {
        width: 100%;
        /* overflow-x: auto; */
        margin-top: 20px;
        padding: 0em 1em;
        /* overflow: auto; */
        .addinward-purchase-table {
          width: 100%;
          border-collapse: collapse;
          background-color: #fff;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          border-radius: 8px;
          /* overflow: hidden; */
          .addinward-table-header {
            background-color: var(--blue);
            color: #fff;
            text-align: left;
            font-weight: bold;
            .addinward-th,
            .addinward-td {
              padding: 8px 10px;
              border: 1px solid #ddd;
              text-align: left;
            }
            .addinward-purchase-table tbody tr:nth-child(even) {
              background-color: #f1f1f1;
            }

            .addinward-purchase-table tbody tr:hover {
              background-color: #e3f2fd;
              transition: 0.3s ease-in-out;
            }
          }
          tbody {
            .addinward-td {
              padding: 12px;
              border: 1px solid #ddd;
              text-align: left;
              font-size: 14px;
              color: #333;
              background-color: #fff;
            }
            .lchid {
              text-align: center;
              color: var(--blue);
              font-size: 1em;
              cursor: pointer;
            }
          }
        }
      }
      .total {
        display: flex;
        justify-content: space-around;
        padding: 1em;
        margin-top: 0.5em;
        .total-field {
          input {
            padding-left: 1em;
            padding: 0.7em 1em;
            border-radius: 5px;
            border: none;
            outline: none;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
          }
        }
      }
      .addinward-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1em 0em;
        .addinward-confirm-btn {
          padding: 0.75em 1.25em;
          border-radius: 5px;
          border: none;
          background-color: var(--blue);
          color: white;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .addinward-container {
    width: 100vw;
    .addinward-popup-inner {
      width: 90%;
      height: 90%;
      display: flex;
      flex-direction: column;

      .scroll {
        /* Force the wrapper of the table to allow horizontal scrolling */
      }

      .total {
        flex-direction: column;
        align-items: center;
        gap: 1em;
        input {
          width: 250px;
        }
      }
    }
  }
}

/* ----------------------------OutWard------------------- */
.outward-main {
  width: 100%;
  padding: 1em;
  .outward-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    .outward-search-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1em;
      .outward-search {
        /* background-color: #000000; */
        input {
          padding-left: 1em;
          padding: 0.45em 1em;
          outline: none;
          border: 0.1px solid black;
        }
        .outward-search-button {
          padding: 0.5em 1em;
          background-color: var(--blue);
          outline: none;
          border: none;
          color: white;
          cursor: pointer;
        }
      }
      .outward-vendor-actions {
        display: flex;
        gap: 1em;
        .outward-download-button,
        .outward-add-button {
          padding: 0.5em 1em;
          background-color: var(--blue);
          outline: none;
          border: none;
          color: white;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }
  /* Main container styles */
}
/* Table container */
.outward-table-container {
  width: 100%;
  max-height: 680px;
  overflow-x: auto;
  margin-top: 20px;
  -webkit-overflow-scrolling: touch;
}

/* Table styling */
.outward-purchase-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  white-space: nowrap;
}

/* Header row styling */
.outward-table-header {
  background-color: var(--blue); /* Green header */
  color: white;
  font-weight: bold;
  position: sticky;
  top: 0;
}

.outward-th {
  color: white !important;
}

/* Table cell styling */
.outward-td,
.outward-th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  font-size: 14px;
  color: #333;
  text-align: left;
}
.outward-edit-button {
  background-color: var(--blue);
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}
.edit-input {
  width: 50px;
  /* padding: 5px; */
  border: none;

  text-align: center;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .outward-table-container {
    overflow-x: auto;
  }

  .outward-purchase-table {
    width: 100%;
    display: block;
  }

  .outward-th,
  .outward-td {
    padding: 10px;
    font-size: 12px;
    white-space: nowrap; /* Smaller text for mobile */
  }
  .outward-table-header {
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  .outward-main {
    width: 100vw;
    font-size: 15px;
    .outward-header {
      .outward-search-bar {
        flex-direction: column;
        gap: 1em;
        /* background-color: #000000; */
      }
    }
    .outward-table-container {
      height: 420px;
    }
  }
}

/* --------------------------outward-add----------------------- */
.add-outward-pg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.39);
  backdrop-filter: blur(11.4px);
  -webkit-backdrop-filter: blur(11.4px);
  z-index: 1111;
  display: grid;
  place-items: center;
  .outward-card {
    width: 20%;
    height: auto;
    background-color: white;
    border-radius: 30px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      /* margin-left: 3em; */
      /* background-color: #000000; */
      p {
        font-size: 1.5em;
        color: red;
        margin-left: 1em;
        cursor: pointer;
      }
    }
    .container {
      display: flex;
      flex-direction: column;
      gap: 1em;
      margin-top: 1em;
      input {
        width: 250px;
        height: 40px;
        padding-left: 1em;
        border-radius: 5px;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
    }
    .btn {
      button {
        padding: 0.5em 2em;
        border-radius: 5px;
        border: none;
        background-color: var(--blue);
        color: white;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 800px) {
  .add-outward-pg {
    width: 100vw;
    .outward-card {
      width: 90%;
      .btn {
        margin-top: 1em;
      }
    }
  }
}
