.activity-main {
    width: 100vw;
    height: calc(100% - 60px);
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0;
    overflow: scroll;
}

@media screen and (min-width: 800px) {
    .activity-main {
        width: calc(100% - 240px);
        height: calc(100% - 75px);
        padding: 2em;
    }

}

.add-funds-btn {
    position: fixed;
    bottom: 2em;
    right: 2em;
    font-size: medium;
    padding: 0.5em 1em;
    background-color: var(--blue);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
}

/* ===============================================TODO========================================= */

.todo-main {
    width: 100%;
    height: 100%;
    padding: 1em;
}

.todo-table-container {
    background-color: green;
    overflow: scroll;
}

.todo-table {
    font-size: smaller;
    width: 100%;
    background-color: #d9d9d9;
    border: none;
    outline: none;
}

.todo-th {
    min-width: 150px;
    max-width: 250px;
    position: sticky;
    top: 0;
    padding: 0.5em 0.5em;
    font-weight: 300;
    color: white;
    background-color: var(--blue);
    border: none;
    outline: none;
    white-space: nowrap;
    overflow: scroll;
}

.todo-task {
    min-width: 390px;
}

.todo-table input {
    width: 100%;
    outline: none;
    border: none;
    color: blue;
    text-align: center;
}

/* .todo-add {
    position: sticky;
    top: 0;
    font-weight: 400;
    color: #8a8a8a;
    border: none;
    outline: none;
    text-align: center;
    vertical-align: middle;
    transform: rotate(-90deg);
    transform-origin: center;
    white-space: nowrap;
    cursor: pointer;
    padding: 0.5em;
} */
.todo-title {
    display: flex;
    font-size: large;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 0;
}

.todo-add-column {
    padding: 0.7em 1.7em;
    background-color: var(--blue);
    font-size: small;
    display: grid;
    place-items: center;
    border-radius: 30px;
    cursor: pointer;
    color: white;
}

.todo-td {
    max-width: 250px;
    text-align: center;
    padding: 0.5em 0.5em;
    background-color: white;
    border: none;
    outline: none;
    white-space: nowrap;
    overflow: scroll;
}

.todo-edit {
    /* max-width: 75px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    gap: 0.7em;
    border: none;
    outline: none;
    position: sticky;
    right: 0;
    box-shadow: -4px 0 8px -2px rgba(0, 0, 0, 0.297);
}

.todo-edit p {
    cursor: pointer;
    border: none;
    outline: none;
}

.todo-addtask td {
    /* text-align: center; */
    padding: 0.5em;
    border: none;
    outline: none;
    color: #7d7d7d;
}

.todo-addtask td {
    text-align: start !important;
    padding-left: 35vw;
}

.checked-task {
    text-decoration: line-through;
    color: gray;
}

.todo-checkbox {
    text-align: center;
    width: auto;
    padding: 0 1em;
    min-width: 60px;
    max-width: 100px;
}

@media screen and (max-width: 800px) {
    .todo-edit {
        max-width: 75px;
    }

    .todo-edit-th {
        width: 75px;
        max-width: none;
        min-width: 50px;
        text-align: center;
    }

    .todo-checkbox {
        width: 10px !important;
        min-width: none;
        padding: 0 0.3em;
    }

}


























/* -----------------------------------Notes------------------------- */
.notes-main {
    width: 100%;
    height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    position: relative;
    /* background-color: rgb(255, 123, 8); */
}

.notes-container {
    padding: 1em 0;
    /* background-color: red; */
    flex-grow: 1;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
}

.notes-add-column {
    padding: 0.7em 1.7em;
    background-color: var(--blue);
    font-size: small;
    display: grid;
    place-items: center;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    margin-left: auto;
    margin-right: 0.7em;
}

.notes-add-excel {
    width: 2.1em;
    aspect-ratio: 1;
    cursor: pointer;
    border-radius: 30px;
    display: grid;
    place-items: center;
    background-color: var(--blue);
    color: #ffffff;

}

.notes-card {
    width: 100%;
    padding: 1em;
    background-color: #ededed;
    border-radius: 10px;
}

.notes-head {
    font-size: medium;
    font-weight: 500;
    padding-bottom: 0.5em;
    text-wrap: wrap;
}


.notes-desc {
    font-size: smaller;
    color: #696969;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Limit to 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.notes-btn {
    margin-top: 0.7em;
    padding: 0.6em 1em;
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: smaller;
    opacity: 0.8;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.notes-view-page {
    width: 100%;
    height: 100%;
    padding: 1em;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: white;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.notes-view-head {
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.notes-save {
    padding: 0.5em 1.5em;
    background-color: var(--blue);
    color: white;
    border-radius: 40px;
    margin-left: auto;
}

.notes-close {
    padding: 0.5em 1em;
    background-color: #e11c1c;
    color: white;
    border-radius: 40px;
}

.notes-view-name-in {
    width: 100%;
    padding: 0.3em 0;
    font-size: x-large;
    font-weight: 500;
    color: #6d6d6d;
    outline: none;
    border: none;
    background-color: transparent;
}

.notes-view-desc-in {
    width: 100%;
    flex-grow: 1;
    padding: 0.5em;
    margin-top: 0.5em;
    font-size: medium;
    color: #000000;
    outline: none;
    border: none;
    overflow: scroll;
}



.notes-link-card {
    display: flex;
    align-items: center;
    background-color: #ededed;
    padding: 1em;
    border-radius: 7px;
    gap: 0.7em;
}

.notes-link {
    flex-grow: 1;
    display: flex;
    gap: 0.5em;
}

/* .notes-link-card:hover {
    background-color: #cccccc;
}

.notes-card:hover {
    background-color: #cccccc;
} */
.notes-link-head {
    flex-grow: 1;
}

.notes-link-icon {
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2em;
    cursor: pointer;
}

.notes-link-icon:last-child {
    margin-left: auto;
}

.notes-link-add-con {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0000007d;
    z-index: 222;
    display: grid;
    place-items: center;

}

.link-btns {
    width: 90%;
    display: flex;
    gap: 0.5em;
}

.link-btns :first-child {
    background-color: #a3a3a3;
}

.notes-link-add {
    width: 80%;
    padding: 2em 1em;
    /* padding-bottom: 3em; */
    background-color: #ffffff;
    margin-bottom: 10em;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}

.notes-link-head-in {
    font-size: larger;
    width: 90%;
    outline: none;
    border: none;

}

.notes-link-link-in {
    font-size: medium;
    width: 90%;
    padding: 0.3em;
    outline: none;
    border: none;
    border-bottom: 1px solid red;
}

.link-save {
    width: 90%;
    border-radius: 7px;
    text-align: center;
    margin: none;
    padding: 0.5em 0;
    color: white;
    background-color: var(--blue);
}

@media screen and (min-width: 800px) {
    .notes-link-add-con {
        width: 100%;
        height: 100%;
        padding: 1em;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0);
        z-index: 1000;
        display: grid;
        place-items: center;
    }

    .notes-link-add {
        width: 30%;
        margin-bottom: 0;
        background-color: #dbdbdb;

        input {
            background-color: transparent;
        }

        ;
    }
}










/* ========================================================Funds================================================= */

.funds-main {
    width: 100%;
    height: 100%;
    padding: 1em;
}

.funds-nav {
    display: flex;
    gap: 0.7em;
    font-weight: 600;
    font-size: medium;
    color: #b5b5b5;
    white-space: wrap;
    overflow: scroll;
}

.funds-nav-items {
    cursor: pointer;
}

/* ======================================funds-cards-container==================== */





.funds-cards-container {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.funds-card {
    /* width: calc(100% / 3.2); */
    padding: 1em;
    background-color: #a3a3a3;
    border-radius: 7px;
    overflow: hidden;
}

@media screen and (min-width: 800px) {
    .funds-cards-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .funds-card {
        width: calc(100% / 3.2);
    }

}

.funds-card-head {
    display: flex;
    align-items: center;
    font-size: small;
    gap: 0.5em;
}

.fund-date-icon {
    display: grid;
    place-items: center;
}

.fund-date {
    display: grid;
    place-items: center;
}

.fund-btns-con {
    display: flex;
    gap: 0.5em;
    margin-left: auto;
}

.fund-btn {
    width: 30px;
    aspect-ratio: 1;
    cursor: pointer;
    display: grid;
    place-items: center;
    background-color: white;
    border-radius: 50%;

}

.fund-vendor-name {
    line-height: 13px;
    margin-top: 0.5em;
}

.funds-card-info-container {
    display: flex;
    align-items: end;
    justify-content: space-between;
    /* background-color: red; */
    gap: 0.5em;
}

.fund-name-amt {
    align-self: end;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.fund-amount {
    font-size: x-large;
    font-weight: 600;
}

.fund-product-txt {
    padding: 0.2em 1em;
    background-color: #ffffff;
    border-radius: 20px;
    display: grid;
    place-items: center;
    font-size: smaller;
}

.fund-product-des {
    width: 70%;
}

.fund-qty-unit {
    display: flex;
}

.fund-qty {
    font-size: 4em;
    font-weight: 500;
}

.fund-unit {
    font-size: medium;
}


/* 
.funds-card {

    width: calc(100% /3.2);
    padding: 1em;
    background-color: #f0f0f0;
    border-radius: 10px;
} */
.highlight {
    color: #000;
}

@media screen and (min-width: 800px) {
    .funds-nav {
        display: flex;
        gap: 0.7em;
        font-weight: 600;
        font-size: 1.5rem;
        color: #acacac;
    }

    .fund-add-container {
        width: calc(100% - 240px) !important;
        height: calc(100% - 75px) !important;
        padding: 0 15em !important;
        /* padding-top: 2em !important; */
        padding-bottom: 2em !important;
        bottom: 0;
        top: auto;
    }
}

.fund-add-container {
    position: fixed;
    height: calc(100% - 75px) !important;
    right: 0;
    bottom: 0;
    background-color: white;
    padding-top: 5em !important;
    padding-bottom: 2em !important;
    overflow: scroll;
    z-index: 1111;
}